.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.statCard {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.statCard:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.yearData {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.year {
  font-size: 14px;
  color: #777;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.change {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  gap: 5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
.statsCard {
    transition: transform 0.3s;
  }
  
  .statsCard:hover {
    transform: translateY(-5px);
  }

  .headerBanner{
    padding: 50px 0;
    background-color: #3C4F5D !important;
  }
  .select{  background-color: #3C4F5D;
    color: #ffffff;
   
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 14px;
    transition: all 0.3s ease;}
    .select:focus {
      border-color: #ffffff;
      box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
      outline: none;
    }
    
    .select option {
      background-color: #3C4F5D;
      color: #ccc;
    }