.crimeMapContainer {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  margin-top: 30px;
}

.filters {
  margin-bottom: 20px;
}

.mapWrapper {
  margin-top: 20px;
}
.mapContainer{
  position: relative;
  z-index: 0;
}

.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(187, 187, 187, 0.4);
  border-radius: 10px;
  font-size: 14px;
  z-index: 100;
}

.legend h5 {
  margin-bottom: 10px;
}

.dot {
  height: 8px;
  width: 50px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
}

.low {
  background-color: green;
}

.medium {
  background-color: orange;
}

.high {
  background-color: red;
}
