.navbar {  
  background-image: linear-gradient(to top, #263238, #6A8CA4);
}

.navbar-brand {
  font-size: 14px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.nav-link {
  font-size: 13px;
  color: #d1d5db !important;
  font-weight: 400;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white !important;
}

.activeLink {
  color: white !important;
  font-weight: 600;
}

.navbarToggler {
  border: none !important;
  outline: none !important;
  padding: 0.5rem !important;
  background-color: transparent !important;
  color: #fff !important;
}
.navbarToggler:hover{
  color: #fff !important;
}

.iconToggle {
  font-size: 1.5rem;
  color: white;
}
.userIconButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff; /* لون الايقونة */
  font-size: 1.8rem; /* حجم الايقونة */
  transition: color 0.3s ease;
  margin-left: 10px;
}

.userIconButton:hover {
  color: #ffc107; /* لون لما تقف بالماوس */
}
